<p>about works!</p>
<p></p>
<p>about works!</p>
<p></p>
<p>about works!</p>
<p></p>
<p>about works!</p>
<p></p>
<p>about works!</p>
<p></p>
<p>about works!</p>
<p></p>

<div>
  <h1>ABOUT</h1>
  <P
    >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos reprehenderit
    cupiditate esse laborum, exercitationem sapiente quaerat consectetur!
    Officiis alias quod ea, reprehenderit at doloremque earum quos, saepe
    voluptas vitae quaerat?</P
  >
</div>
<p>asdfasdfasdfasd</p>
<div>
  <app-wave-audio audioUrl="audio.mp3"></app-wave-audio>
</div>

<p>asdfasdfsd</p>

<input type="number" [value]="duration()" (change)="changeDuration($event)" />
<input type="text" [value]="message()" (change)="changeMessage($event)" />

<app-counter [duration]="duration()" [message]="message()" />
